.todo{
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: start;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-size: 1.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}

.todo button{
    float: right;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border: none;
}


.todo button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.todo input{
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
    border-color: transparent;
    color: white;
}

.todo input:focus {
    outline-width: 0;
}